:host {
    --x: 0px;
    --y: 0px;
    --transition: 0.5s ease all;
    visibility: hidden;
}
:host([show]) {
    visibility: visible;
}
:host([full-size]) .background {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    transition: var(--transition);
}
::slotted([slot="background"]) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    box-sizing: border-box;
    transform: translate(var(--x, 0), var(--y, 0));
    padding: var(--p);
}
.content {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    transition: var(--transition);
}
.content[part="content"],
.background[part="background"] {
    opacity: 0;
}
.content[part="content-show"],
.background[part="background-show"] {
    opacity: 1;
}
