<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../preview.css" />
<script type="module" src="./show-drag.tsx"></script>

<style>
    .container-x {
        width: 280px;
        height: 100%;
        background: red;
    }
    .container-y {
        width: 100%;
        height: 50vh;
        background: black;
    }
</style>
<atomico-show-drag>
    <button slot="drag-visible">Clic me</button>
    <div class="container-x"></div>
</atomico-show-drag>
<atomico-show-drag position="bottom">
    <button slot="drag-visible">Clic me</button>
    <div class="container-y"></div>
</atomico-show-drag>
