<link rel="stylesheet" href="../../preview.css" />
<script type="module" src="./src/define.tsx"></script>
<style>
    .box {
        width: 400px;
        height: 400px;
        background: #000;
    }
    .box-diff {
        background: teal;
    }
    iframe {
        width: 320px;
        height: 562px;
    }
    img {
        width: 100vw;
    }
</style>
<atomico-compare-content>
    <img
        src="https://image-compare-viewer.netlify.app/public/before-3.jpg"
        alt=""
        slot="content"
    />
    <img
        src="https://image-compare-viewer.netlify.app/public/after-3.jpg"
        alt=""
        slot="content"
    />
</atomico-compare-content>

<atomico-compare-content vertical>
    <iframe
        slot="content"
        allowfullscreen=""
        frameborder="0"
        src="//player.vimeo.com/video/723688128?title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&amp;muted=true"
    ></iframe>
    <iframe
        slot="content"
        allowfullscreen=""
        frameborder="0"
        src="//player.vimeo.com/video/517080601?title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&amp;muted=true"
    ></iframe>
</atomico-compare-content>
