<link rel="stylesheet" href="../../preview.css" />
<script type="module" src="./modal.tsx"></script>
<style>
    atomico-modal {
        --opacity-out: 1;
        --visibility-out: visible;
        --modal-width: 100px;
        --modal-height: 100px;
        --modal-radius: 100px;
    }
    atomico-modal[show] {
        --modal-width: 280px;
        --modal-height: 480px;
        --modal-radius: 16px;
    }
    .modal-mask {
        width: var(--modal-width);
        height: var(--modal-height);
        position: relative;
        border-radius: var(--modal-radius);
        overflow: hidden;
        transition: var(--transition);
        background: black;
    }
    .modal-button {
        width: 2rem;
        height: 2rem;
        border: 1px solid currentColor;
        border-radius: 100px;
        background: black;
        position: absolute;
        top: 0rem;
        right: 0rem;
        z-index: 2;
        cursor: pointer;
    }

    .modal-iframe {
        width: 200%;
        height: 200%;
        border: none;
        object-fit: cover;
        margin-left: -50%;
        margin-top: -15%;
    }
</style>
<atomico-modal lazyload position="right bottom" padding="1rem, 3rem 720px">
    <section class="modal-content">
        <div class="modal-mask">
            <iframe
                class="modal-iframe"
                src="//player.vimeo.com/video/556963239?background=1"
                data-modal="open"
            ></iframe>
        </div>
        <button class="modal-button" data-modal="toggle">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                viewBox="0 0 6 6"
            >
                <g
                    data-name="Group 94"
                    transform="translate(-315 -10)"
                    fill="#fff"
                >
                    <rect
                        data-name="Rectangle 185"
                        width="4"
                        height="1"
                        rx=".5"
                        transform="translate(315 10)"
                    />
                    <rect
                        data-name="Rectangle 188"
                        width="4"
                        height="1"
                        rx=".5"
                        transform="rotate(180 160.5 8)"
                    />
                    <rect
                        data-name="Rectangle 186"
                        width="4"
                        height="1"
                        rx=".5"
                        transform="rotate(90 153 163)"
                    />
                    <rect
                        data-name="Rectangle 187"
                        width="4"
                        height="1"
                        rx=".5"
                        transform="rotate(-90 168 -152)"
                    />
                </g>
            </svg>
        </button>
    </section>
</atomico-modal>
