.slider {
    color: white;
}
.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, black, #404040);
}
.slider h1 {
    font-size: 16vh;
}
.slider .button {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: transparent;
    margin: 0px 1rem;
    border-radius: 100%;
    color: unset;
    position: absolute;
    top: 50%;
    z-index: 10;
}
.slider .button[slot="to-left"] {
    left: 1rem;
}
.slider .button[slot="to-right"] {
    right: 1rem;
}

.slider [slot="pagination-items"] {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider .dot {
    all: unset;
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease all;
}
.slider .dot[active="false"] {
    opacity: 0.5;
}
.slider .dot[active="true"] {
    opacity: 1;
    scale: 1.5;
}
