<link rel="stylesheet" href="../../preview.css" />
<script async type="module" src="./src/define.ts"></script>
<style>
    .slider {
        color: white;
    }
    .slide {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, black, #404040);
    }
    h1 {
        font-size: 16vh;
    }
    .button {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        background: transparent;
        margin: 0px 1rem;
        border-radius: 100%;
        color: unset;
        position: absolute;
        top: 50%;
        z-index: 10;
    }
    .button[slot="to-left"] {
        left: 1rem;
    }
    .button[slot="to-right"] {
        right: 1rem;
    }
</style>
<atomico-keen-slider
    class="slider"
    autoplay
    loop
    drag
    slides-per-view="1, 3 520px"
>
    <div slot="slide" class="slide">
        <h1>1</h1>
    </div>
    <div slot="slide" class="slide">
        <h1>2</h1>
    </div>
    <div slot="slide" class="slide">
        <h1>3</h1>
    </div>
    <div slot="slide" class="slide">
        <h1>4</h1>
    </div>
    <button class="button" slot="to-left">←</button>
    <button class="button" slot="to-right">→</button>
</atomico-keen-slider>

<script>
    const slider = document.querySelector("atomico-keen-slider");

    slider.addEventListener("Created", console.log);
    slider.addEventListener("SlideChanged", console.log);
</script>
